.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Plans{
  height: auto;
  width: 30rem;
  background-color: white;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
  margin: 1%;
}
.price{
  font-size: 50px;  
}
.months{
  font-size: small;
}
.abled{
  padding-top: 15px;
}
.disabled{
  color:grey;
  padding-top: 15px;
}
.abled:before{
  content: "✓ ";
  font-weight: bolder;
  padding-right: 1rem;
}
.cross:before{
  content: "x ";
  font-weight: bolder;
  padding-right: 1rem;
}

ul {
  list-style: none;
}
.head{
  display: grid;
  text-align: center;
}
.buttons{
  border-style: none;
  background-color: rgb(35, 162, 212);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color:white;
  font-weight: bolder;
  font-size: large;
  
}
.SubscribtionPlan{
  display: flex;
  width: 80%;
  margin-left: 10rem;
  height: auto;
  margin-top: 5%;
  
  border: 1px solid gold;
  background-image: linear-gradient(to right, blue , skyblue);
}
.Plans:hover {
  margin-top: -.25rem;
  margin-bottom: .50rem;
  box-shadow: 3px 3px 10px 0 grey;
}
.buttons:hover{
  background-color: blue;
}
.bold{
  font-weight: bolder;
}